{% extends "base.html" %}

{% block title %}Lista de Citas - Veterinaria{% endblock %}

{% block content %}

<h1>Lista de citas veterinarias</h1>

<a href="{% url 'crear_cita' %}">
    Registrar nueva cita
</a>

<br><br>

<table border="1">

    <thead>
        <tr>
            <th>ID</th>
            <th>Dueño</th>
            <th>Mascota</th>
            <th>Servicio</th>
            <th>Fecha</th>
        </tr>
    </thead>

    <tbody>

        {% for cita in citas %}

        <tr>
            <td>{{ cita.id }}</td>
            <td>{{ cita.dueno }}</td>
            <td>{{ cita.mascota }}</td>
            <td>{{ cita.servicio }}</td>
            <td>{{ cita.fecha }}</td>
        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}